<!-- this is a placeholder -->
<div id="social">
    <a href="https://www.facebook.com/edwardhowrongtu" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.linkedin.com/in/edward-tu-869017134/" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/TuOfTimes" target="_blank">
        <i class="fab fa-github"></i>
    </a>
    <a href="/assets/resume.pdf" target="_blank">
        <i class="fas fa-file-alt"></i>
    </a>
</div>