.container
    padding: 0px 20px 20px 20px
    .posts
        text-align: left
        a
            line-height: 2em
            .post-title
                font-weight: 700
                line-height: 1em
    .post
        text-decoration: none
        color: #000
    
    