---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include stylesheets.html %}
    <title>{{ page.title }}</title>
</head>
<body>
    <!-- top bar with title and info button -->
    {% include header.html %}

    <!-- list of blog posts -->
    <main>
        {{ content }}
    </main>
    
    <!-- bottom line with social media links and stylized name -->
    {% include footer.html %}
</body>
</html>
<!-- same as post (header and footer) but page content is different -->