---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include stylesheets.html %}
    <title>{{ page.title }}</title>
</head>
<body>
    <main>
    <!-- top bar with title and info button -->
    {% include header.html %}
        <div class="container">
            <header>
                <div class="post-title">
                    <h2>
                        {{ page.title }}
                    </h2>
                    <span>
                        {{ page.date | date: "%-d %b %Y" }}
                    </span>
                </div>
            </header>
            {{ content }}
        </div>
    <!-- bottom line with social media links and stylized name -->
    {% include footer.html %}
    </main>
</body>
</html>